.body {
	font-family: Sans-serif;
}
.header {
	background:#FFFFFF;
	width: 1900px;
	height: 110px;
}
.header img {
	height: 110px;
	float: left;
	margin-left: 50px;
}
.header ul{
	text-decoration: none;
}
.header ul dd a {
	padding-top: 42px;
	float: left;
	margin-left: 200px;
	color: black;
	font-size: 25px;
	text-decoration: none;
}
.intro {
	width: 1900px;
	float: left;
}
.intro img {
	width: 1900px;
	margin-bottom: 10px;
	float: left;
	position: relative;
}
.intro p button {
	border-radius: 15px 50px 30px 5px;
	background:white;
}
.bottomleft {
	position: absolute;
	bottom: 5px;
	left: 30px;
	color: white;
	font-size: 40px;
}
.bottomleft p button {
	background: white;
	border-color: white;
}
.cacmauxe {
	width: 1800px;
	padding-left: 100px;
}
.cacmauxe h1{
	margin-bottom: 20px;
	padding-left: 29px;
	text-decoration: underline;
	font-size: 20px
}
.cacmauxe img {
	width: 200px;
	padding-left: 10px;
}
.dong1 {
	background:#ffffff;
	width: 1160px;
	height: 700px;
	margin: 210px auto;
	position: relative;
}
.dong1vb{
	margin-top: 200px;
	float: right;
	position: relative;
	text-align: left;
}
.dong1vb p {
	font-weight: normal;
	font-size: 20px
}
.dong1vb p button{
	background: white;
	border-color: black;
	padding: 20px 20px;
	text-align: center;
}
.dong1 img {
	height: 700px;
	float: left;
}
.dong2 {
	width: 1100px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;
}
.dong2 img {
	float: right;
	height: 700px;
}
.dong2 p {
	font-size: 30px;
	padding-top: 200px;
	padding-left: 20px;
}
.dong2 p1{
	padding-left: 20px;
	float: left ;
}
.dong2 div{
	width: 170px;
	float: left;
	position: absolute;
	margin-left: 20px;
}
.dong2 div button {
	margin-top: 50px;
	background: white;
	border-color: black;
	padding: 20px 20px;
	text-align: center;
}
.dong3 {
	padding-top: 70px;
	height: auto;
	width: 1900px;
	margin-left: 10px;
	padding-left: 10px;
}
.dong3 h1 {
	margin-left: 50px;
}
.dong3 img {
	width: 500px;
	padding-right: 40px;
	margin: auto;
	object-position: center;
	float: left;
}
.dong3 ul div {
	float: left;
	padding-left: 10px;
	font-size: 30px;
}
.dong3 ul div p a {
	color: black;
}
.dong3vb {
	margin-left: 100px;
		width: 1800px;
}
.footer {
	height: 310px;
	width: 1900px;
	background:#010101;
	margin-top: 500px;
	color: white;
	
}
.box1 {
	padding-top: 80px;
	margin-left: 900px;
}
.minibox1{
	float: left;
	margin-left: 400px;
	margin-top: 70px;
}
.minibox1 a2{
	font-size: 25px;
}
.minibox2{
	margin-left: 180px;
	padding-top: 70px;
	float:left;
}
.minibox2 a3{
	font-size: 25px;
}
.minibox3 {
	float: left;
	padding-top: 70px;
	padding-left: 180px;	
		
}
.minibox3 a4{
	font-size: 25px;
}
.moon:hover {
	color:#D2D2D2;
}